  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <img src="public/imgs/icons8-gift-32.png" alt="Gift Logo" class="p-1">
        <a class="navbar-brand" href="/home">
          Gift List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Friends
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup/getSignup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/getLogin">Login</a>
            </li>
  
          </ul>
        </div>
      </div>
      
    </nav>








    <!-- <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/home">Gift Registry</a></h1>
        <span>So we don't have to use excel anymore</span>
      </div>
    </header> -->
  <!-- </body>
</html> -->







  <!-- <header class="container">
    <div class="text-center">
      <h1 class=""><a href="/home">Gift Registry</a></h1>
      <span>So we don't have to use excel anymore</span>
    </div>
  </header> -->
<!-- </body>
</html> -->
