  
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container">
        <a href="/home#friendTable">
          <img src="/imgs/icons8-gift-32.png" alt="Gift Logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <div class="">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home#friendTable">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/<%= user.id %>"><%= user.userName %>'s Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>








    <!-- <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/home">Gift Registry</a></h1>
        <span>So we don't have to use excel anymore</span>
      </div>
    </header> -->
  <!-- </body>
</html> -->
