<%- include('partials/head') -%>
<%- include('partials/indexNav') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
      <section class="col-sm-6">
        <div class="d-flex align-items-center">
          <div class="col-auto align-items-center">
            <img src="/imgs/icons8-gift-50.png" height="40" width="40" alt="Gift Logo" class="d-inline-block align-bottom">
          </div>
          <div class="col">
            <h1 class="mb-0">Gift List</h1>
          </div>
        </div>
        <span>So we don't have to use excel anymore</span>
        <a href="/login" class="col-12 btn btn-primary mb-3 mt-3"> Login</a>
        <a href="/signup" class="col-12 btn btn-secondary"> Signup</a>
      </section>
    </div>
  </main>
    

<%- include('partials/footer') -%>